/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
html, body, #root, .app {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .fullscreen-container {
    display: grid;
    place-items: center;
    height: 753px;
  }
